@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav {
    float: right;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2ex;
}

h1 img {
    float: left;
    margin-right: 0.5ex;
    width: 3ex;
}

ol li {
    margin: 1ex 0ex;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

}

